﻿@model WebApplication3.Models.Contract

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Создать договор</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input onkeyup="var yratext=/['a-z','А-я','\s']/; if(yratext.test(this.value)) this.value=''" asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Begin" class="control-label"></label>
                <input asp-for="Date_Begin" class="form-control" />
                <span asp-validation-for="Date_Begin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_End" class="control-label"></label>
                <input asp-for="Date_End" class="form-control" />
                <span asp-validation-for="Date_End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
