﻿@model WebApplication3.Models.Contract

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробнее</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_Begin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_Begin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date_End)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date_End)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Full_Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractId">Редактирование</a> |
    <a asp-action="Index">Вернуться назад</a>
</div>
