﻿@model IEnumerable<WebApplication3.Models.Contract>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список договоров</h2>

<p>
    <a asp-action="Create">Создать договор</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_Begin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date_End)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_Begin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_End)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.Full_Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractId">Редактировать</a> |
                <a asp-action="Details" asp-route-id="@item.ContractId">Подробнее</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractId">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
